<section class="header">
    <p>My Books</p>
    <a routerLink="/home" routerLinkActive = 'active'>Home</a> 
    <a routerLink="/addBook" routerLinkActive = 'active'>AddBook</a>
    <a routerLink="/updateBook" routerLinkActive = 'active'>UpdateBook</a>
    <a routerLink="/books" routerLinkActive = 'active'>Books</a>
    <a routerLink="/register" routerLinkActive = 'active'>Register</a>
    <a routerLink="/login" routerLinkActive = 'active'>Login</a>
    <a routerLink="/profile" routerLinkActive = 'active'>Profile</a>
   
    
</section>
