* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    background-color: rgb(58, 77, 67);
    height: 100px;

    display: flex;
    align-items: center;
}

.header p{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-right: 1000px;
}

.header a{
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
}