* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.home{
    height:780px;
    background-image: url(https://images.pexels.com/photos/2249063/pexels-photo-2249063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: rgb(200, 200, 200);
}

P{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}