
<div class="formulario">
    <div class="form">
        
        <div class="p">Registrate</div>
        <input type="text" placeholder="Nombre">
        
        <input type="text" placeholder="Apellidos">
        
        <input type="text" placeholder="Email">
        
        <input type="text" placeholder="Url">
        
        <input type="text" placeholder="Contraseña">
        
        <input type="text" placeholder="Repetir Contraseña">
        
        <p>
    
        <button type="button" onclick="">Registrarse</button>
        </p>
    </div>
