
<div class="formulario">
    <div class="form">
        
        <div class="p">Registrate</div>
        <input type="text" placeholder="name">
        
        <input type="text" placeholder="apellidos">
        
        <input type="text" placeholder="email">
        
        <input type="text" placeholder="url">
        
        <input type="text" placeholder="contraseña">
        
        <input type="text" placeholder="repetirContraseña">
        
        <p>
    
        <button type="button" onclick="">Registrarse</button>
        </p>
    </div>
